@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Overlock&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.section-3 {
  position: relative;
  background: #0f2027; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  -webkit-padding-before: 3rem;
  padding-block-start: 3rem;
  -webkit-padding-after: 3rem;
  padding-block-end: 3rem;
  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    // background-size: cover;
    // background: url("/assets/circles.png");
    overflow: hidden;
  }
  .container {
    margin-inline: auto;
    width: min(90%, 80.5rems);
    margin-top: 3em;

    .heading {
      font-family: "Staatliches", cursive;
      font-size: 2.2em;
      color: white;
    }
  }
  .split {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 1em;
    .tech {
      background: rgba(253, 253, 253, 0.056);
      z-index: 1;
      -webkit-backdrop-filter: blur(40px);
      backdrop-filter: blur(40px);
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: solid 2px white;
      box-shadow: 1.2rem 1.2rem 1.2rem rgba(0, 0, 0, 0.734);
      position: relative;
      padding: 1em;
      border-radius: 1.5em;
    }
  }
  .stack-text {
    flex-grow: 4;
    h3 {
      font-family: "Staatliches", cursive;
      text-align: center;
      font-size: 1.5em;
      top: 0;
      color: white;
    }
    p {
      justify-self: center;
      font-family: "Gemunu Libre", sans-serif;
      font-size: 1.2em;
      color: rgb(228, 228, 228);
    }
  }

  .tech-heading {
    font-family: "Press Start 2P", cursive;
    color: rgba(235, 66, 66, 0.796);
    text-shadow: 2px 2px 2px #ffffff, 2px 2px 2px #202020, #ffffff 2px 2px 2px;
    margin: 2em;
  }
  img {
    display: block;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 80em) {
  .section-3 {
    .split {
      flex-direction: row;
      margin-top: 2em;
    }
    .split > * {
      flex-basis: 100%;
    }
    .split > * + * {
      margin-left: 2em;
    }
    .second {
      margin-left: 6em;
      img {
        margin-left: 3em;
      }
    }
  }
}

//Section-4

.section-4 {
  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  overflow: hidden;
  -webkit-padding-before: 3rem;
  padding-block-start: 3rem;
  -webkit-padding-after: 3rem;
  padding-block-end: 3rem;
  position: relative;
  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 250px;
  }
  .tech-heading {
    font-family: "Press Start 2P", cursive;
    color: rgba(158, 233, 243, 0.652);
    text-shadow: 2px 2px 2px #ffffff, 2px 2px 2px #202020, #ffffff 2px 2px 2px;
    margin: 2vh;
    font-size: 1.8em;
  }
  bottom {
    bottom: 0;
  }
  .container {
    margin-inline: auto;
    width: min(90%, 80.5rem);
    margin-top: 3em;
    margin-bottom: 3em;
    position: relative;
    padding: 2em;
    h2 {
      font-family: "Staatliches", cursive;
      text-align: center;
      color: white;
      font-size: 3em;
    }
  }
  .split {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    img {
      align-self: center;
      justify-self: center;
    }
  }
  .infosys {
    border-radius: 50%;
    height: 200px;
    background: rgba(151, 149, 149, 0.056);
    z-index: 1;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: solid 2px white;
    box-shadow: 1.2rem 1.2rem 1.2rem rgba(21, 20, 20, 0.727);
    position: relative;
    padding: 0;
  }
  .exp-heading {
    h3 {
      font-family: "Staatliches", cursive;
      text-align: center;
      font-size: 2em;
      color: white;
    }
  }
  .stack-text {
    color: white;
    margin-top: 1.6em;
    background: rgba(151, 149, 149, 0.056);
    z-index: 1;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: solid 2px white;
    box-shadow: 1.2rem 1.2rem 1.2rem rgba(29, 28, 28, 0.72);
    position: relative;
    padding: 1.2em;
    border-radius: 1em;
    h3 {
      font-family: "Staatliches", cursive;
      text-align: center;
      font-size: 2em;
    }
    p {
      justify-self: center;
      font-family: "Gemunu Libre", sans-serif;
      font-size: 1.2em;
    }
  }
}
@media only screen and (min-width: 80em) {
  .section-4 {
    .tech-heading {
      font-size: 3em;
    }
    .split {
      flex-direction: row;
      margin-top: 2em;
    }
    .split > * {
      flex-basis: 100%;
    }
    .split > * + * {
      margin-left: 6em;
    }
    .infosys {
      height: 270px;
      padding: 1em;
    }
  }
}
.contact-me {
  background-color: #f7f8fc;
  background: linear-gradient(318.32deg, #c3d1e4 0%, #dde7f3 55%, #d4e0ed 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10rem;

  .grid__item {
    padding: 4rem 4rem 1rem 4rem;
    position: relative;

    z-index: 1;

    &::before {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      box-shadow: inset -8px -8px 8px 0 rgba(174, 174, 192, 0.309),
        inset 8px 8px 8px 0 #fff, -8px -8px 24px 0 #fff,
        8px 8px 24px 0 rgba(174, 174, 192, 0.4);
      z-index: 1;
    }

    &::after {
      content: "";
      height: 400px;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background: url("/assets/paper.svg") no-repeat;
      overflow-x: hidden;
      z-index: -1;
    }
    .grid__item__shape {
      .heading {
        font-family: "Satisfy", cursive;
        font-size: 4rem;
        margin: 5rem;
        color: rgb(60, 176, 253);
        text-shadow: 0.8rem 0.8rem 1rem white,
          0.3rem 0.3rem 0.3rem rgb(180, 176, 176);
      }
      .disclaimer__box {
        margin-top: 0.5em;
      }
      .disclaimer {
        color: rgb(201, 233, 255);
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        position: relative;

        background: rgba(135, 131, 131, 0.515);
        z-index: 1;
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(40px);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;

        box-shadow: 1.2rem 1.2rem 1.2rem rgba(29, 28, 28, 0.138);
        position: relative;
        border-radius: 1em;

        font-weight: 800;
        letter-spacing: 2px;
      }
      .split {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-basis: 50%;
        gap: 1rem;

        .form__side {
          position: relative;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0;
          margin: 1em;

          background: rgba(151, 149, 149, 0.056);
          z-index: 1;
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          border: solid 1px white;
          padding: 1em;
          box-shadow: 1.2rem 1.2rem 1.2rem rgba(21, 20, 20, 0.124);

          border-radius: 2rem;
        }
        .form__side1 {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0;
          margin: 0;
          position: relative;
          .image {
            position: relative;
            border-radius: 1rem;
            z-index: 1;
            overflow: hidden;

            background: rgba(151, 149, 149, 0.056);
            z-index: 1;
            -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(5px);
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: solid 1px white;
            padding: 2em;
            box-shadow: 1.2rem 1.2rem 1.2rem rgba(21, 20, 20, 0.124);

            border-radius: 2rem;

            &::after {
              content: "";
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              position: absolute;
              box-shadow: 1.2rem 1.2rem 1.2rem rgba(21, 20, 20, 0.124);
            }

            .parth__img {
              border-radius: 1rem;
            }
          }
        }
      }
    }
  }
}

.reset__button {
  margin: 1em;
}

mat-form-field {
  width: 100%;
  padding: 0;
  margin: 0;
}

.glass {
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 80em) {
  .contact-me {
    .grid__item {
      .grid__item__shape {
        .split {
          flex-direction: row;
        }
        .heading {
          font-size: 6rem;
        }
      }
    }
  }
}

.contact__divider {
  height: 0.5rem;
  width: 100%;
  background-color: rgb(86, 255, 255);
}

.sk-cube-grid {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: -5;
  top: 88%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgba(0, 100, 250, 0.46);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(5px);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}

.stats_section {
  background-color: black;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  box-sizing: border-box;

  .split {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    color: white;
    box-sizing: border-box;
    gap: 5rem;

    .stats {
      padding: 1rem;
      color: white;
      box-sizing: border-box;
      border-bottom: 2px solid white;
      height: 25rem;
      width: 15rem;
    }
  }
}
