<section class="section-1 sections">
  <div class="box box1">
    <h2 class="about-header">&lt;about&gt;</h2>
    <p>
      Hi, my name is <b>Parth Kathuria</b> and I am a FullStack WebDeveloper who
      creates Scalabe and Responsive Websites along with Servers.
    </p>
    <br />
    <p>
      WebDevelopment is my passion and i am always looking to discover newer and
      better technologies to add to my stack.
    </p>
    <br />
    <p>
      Currently, i work on Angular 10.2.x and Java-11 Spring Suite. Some of the
      libraries that i use are:
    </p>
    <br />

    <ul>
      Angular Materials
    </ul>
    <ul>
      FxFlex
    </ul>
    <ul>
      NgBootstrap
    </ul>
    <ul>
      ThreeJs for 3D
    </ul>

    <h2 class="about-footer">&lt;/about&gt;</h2>
  </div>
</section>
<section class="section-2 sections">
  <div class="tech">
    <h2 class="tech-header text-center">&lt;Tech Stack/&gt;</h2>
    <div>
      <div fxLayout="row wrap" fxLayoutGap="16px grid" class="content">
        <div
          fxFlex="16%"
          fxFlex.sm="33%"
          fxFlex.xs="33%"
          fxFlexAlign=" center center"
        >
          <mat-card>
            <img
              mat-card-image
              src="assets/angular-icon.svg"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </div>
        <div
          fxFlex="16%"
          fxFlex.sm="33%"
          fxFlex.xs="33%"
          fxFlexAlign=" center center"
        >
          <mat-card>
            <img
              mat-card-image
              src="assets/bootstrap-icon.svg"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </div>
        <div
          fxFlex="16%"
          fxFlex.sm="33%"
          fxFlex.xs="33%"
          fxFlexAlign=" center center"
        >
          <mat-card>
            <img
              mat-card-image
              src="assets/spring-3.svg"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </div>
        <div
          fxFlex="16%"
          fxFlex.sm="33%"
          fxFlex.xs="33%"
          fxFlexAlign=" center center"
        >
          <mat-card>
            <img
              mat-card-image
              src="assets/angular-icon.svg"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </div>
        <div
          fxFlex="16%"
          fxFlex.sm="33%"
          fxFlex.xs="33%"
          fxFlexAlign=" center center"
        >
          <mat-card>
            <img
              mat-card-image
              src="assets/angular-icon.svg"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </div>
        <div
          fxFlex="16%"
          fxFlex.sm="33%"
          fxFlex.xs="33%"
          fxFlexAlign=" center center"
        >
          <mat-card>
            <img
              mat-card-image
              src="assets/angular-icon.svg"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="tech">
    <div>
      <div fxLayout="row" fxLayoutGap="30px" class="container">
        <div fxFlex="0 0 auto" fxLayoutAlign="center center">
          <mat-card>
            <img
              mat-card-image
              src="assets/angular-icon.svg"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </div>
        <div fxFlex="0 0 auto" fxLayoutAlign="center center">
          <mat-card>
            <img
              mat-card-image
              src="assets/bootstrap-icon.svg"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </div>
        <div fxFlex="0 0 auto" fxLayoutAlign="center center">
          <mat-card>
            <img
              mat-card-image
              src="assets/spring-3.svg"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </div>
        <div fxFlex="0 0 auto" fxLayoutAlign="center center">
          <mat-card>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </div>
      </div>
    </div>
  </div> -->
</section>
