<section class="section-1 sections" id="about">
  <div
    class="box box1"
    data-aos="zoom-in"
    data-aos-easing="linear"
    data-aos-duration="500"
  >
    <h2 class="about-header">&lt;about&gt;</h2>
    <p>
      Hi, my name is <b>Parth Kathuria</b> and I am a FullStack WebDeveloper who
      creates Scalabe and Responsive Websites along with their Servers.
    </p>
    <br />
    <p>
      WebDevelopment is my passion and i am always looking to discover new and
      better technologies to add to my stack to keep myself updated with the
      current standards.
      <br />
      Libraries used for making this site:
      <li>ThreeJs</li>
      <li>AOS</li>
      <li>Bootstrap</li>
    </p>
    <p></p>
    <br />
    <br />
    <h2 class="about-footer">&lt;/about&gt;</h2>
  </div>
</section>
<!-- TechStack -->
<section class="section-3 sections" id="techStack">
  <div class="col-md-12 tech-stack-heading" data-aos="fade-up">
    <p class="display-3 tech-heading text-center">&lt;Tech Stack/&gt;</p>

    <div class="container sec3-container">
      <h1 class="text-center heading">Front-End Development</h1>
      <div class="split">
        <div
          class="split tech"
          data-aos="fade-right"
          data-aos-anchor-placement="center-bottom"
        >
          <div class="stack-text">
            <h3>HTML-5</h3>
            <p>
              Simple, yet hard to master. HTML is the backbone of every website
              and its structure.
              <br /><br />
              It provides the Main content which can be styled or added logic to
              using Angular and CSS
            </p>
            <p><b>Expertise: Advance</b></p>
          </div>
          <div>
            <img src="assets/html.png" alt="HTML-5" />
          </div>
        </div>
        <div
          class="split tech"
          data-aos="fade-right"
          data-aos-delay="300"
          data-aos-anchor-placement="center-bottom"
        >
          <div class="stack-text">
            <h3>CSS-3</h3>
            <p>
              Well, no CSS? No Party! <br />
              CSS makes or breaks the website and lets just say world would be
              boring without it.
              <br />
              SCSS along with Bootstrap forms the basis of my Tech Stack.
            </p>
            <p><b>Expertise: Advance</b></p>
          </div>
          <div>
            <img src="assets/css.png" alt="CSS-3" />
          </div>
        </div>
        <div
          class="split tech"
          data-aos="fade-right"
          data-aos-delay="600"
          data-aos-anchor-placement="center-bottom"
        >
          <div class="stack-text">
            <h3>Angular 10.x.x</h3>
            <p>
              The Brains of the site. The Logic and Function that makes the
              website stands out with some extra added features are gift of
              Angular. <br />
              <br />
              With its well Defined structure, its a genuine game changer.
            </p>
            <p><b>Expertise: Intermediate</b></p>
          </div>
          <div>
            <img src="assets/angular.png" alt="angular" />
          </div>
        </div>
      </div>
    </div>

    <div class="container sec3-container">
      <h1 class="text-center heading" data-aos="fade-up">
        Back-End Development
      </h1>
      <div class="split">
        <div
          class="split tech second"
          data-aos="fade-right"
          data-aos-anchor-placement="center-bottom"
        >
          <div class="stack-text">
            <h3>Java</h3>
            <p>
              Developed on the concept <i>Write Once Run Anywhere</i>, it's an
              Object Oriented Programming language which is Secure and Robust.
              <br />
              <br />
              Coupled with Maven, it provides hasslefree support for
              dependencies like Spring Boot, Spring Web etc.
            </p>
            <p><b>Expertise: Intermediate</b></p>
          </div>
          <div>
            <img src="assets/java.png" alt="CSS-3" />
          </div>
        </div>
        <div
          class="split tech second"
          data-aos="fade-left"
          data-aos-anchor-placement="center-bottom"
        >
          <div class="stack-text">
            <h3>SpringBoot</h3>
            <p>
              Spring Boot makes it easy to create stand-alone, production-grade
              Spring based Applications that you can "just run".
            </p>
            <p>
              Coupled with powerful libraries like:
              <li>Spring Data</li>
              <li>Spring Web</li>
              <li>Spring Security</li>
              It provides hassele free exprience
            </p>
            <p><b>Expertise: Beginner</b></p>
          </div>
          <div>
            <img src="assets/spring.png" alt="angular" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Experience -->
<section class="sections section-4" id="experience">
  <div class="col-md-10">
    <p data-aos="fade-up" class="display-3 tech-heading text-center">
      &lt;Experience/&gt;
    </p>
    <div
      class="container"
      data-aos="flip-up"
      data-aos-offset="100"
      data-aos-anchor-placement="top-bottom"
      data-aos-easing="ease-in-cubic"
    >
      <h2>Infosys ltd.</h2>
      <h4 class="exp-subheading text-center text-muted">
        Full Stack WebDevelopment
      </h4>
      <h3 class="text-right text-muted">04/21 to Present</h3>
      <div class="split">
        <img class="infosys" src="assets/infosys.png" alt="" />
        <div class="stack-text">
          <p>
            Developed Cortex AI platform, a Full Stack web application to create
            Chatbots and its analytics panels.
          </p>
          <p>
            Technologies used:
            <br />
            <li>HTML, SCSS, Angular 10</li>
            <li>Java-SpringBoot, Spring Data, RESTful, JPA</li>
            <li>PostgreSQL, Elastic Search</li>
            <li>Git,Figma</li>
          </p>
          <p><b>Placed In HPF with 90% Agg</b></p>
        </div>
      </div>
    </div>
  </div>
</section>
