@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Overlock&family=Rubik+Mono+One&display=swap");
.sections {
  position: relative;
  z-index: 1;
  display: flex;
  place-content: center;
}
.section-1 {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 padding-right: min(20%, 10%);
 padding-left: min(20%, 10%) ;
 padding-top: min(10%, 8%) ;
 padding-bottom: min(10%, 5%) ;
}
.section-1::before {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: 0%;
  left: 0;
  width: 1200%;
  height: 250px;
  /* background-size: cover;
  background: url("/assets/mountains.png") no-repeat; */
}

.box1 {
  position: relative;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.056);
  z-index: 1;
  backdrop-filter: blur(40px);
  color: white;
  border-radius: 3em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 2px white;
  box-shadow: 20px 20px 20px rgba(66, 56, 54, 0.131);
  
}
.about-header,
.about-footer {
  font-family: "Press Start 2P", cursive;
  color: rgba(158, 233, 243, 0.652);
  text-shadow: 1.5px 1.5px 1.5px #ffffff, 1.5px 1.5px 1.5px #202020, #ffffff 1.5px 1.5px 1.5px;
}
.about-header {
  top: 0;
}
.about-footer {
  bottom: 0;
  padding-top: 3px;
}
.section-1 p {
  /* font-family: "Overlock", cursive; */
  font-family: "IBM Plex Mono", monospace;
}
.section-1 ul {
  font-family: "IBM Plex Mono", monospace;
}

/*Section 1 ends here*/
