@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Overlock&family=Rubik+Mono+One&display=swap");
.sections {
  position: relative;
  z-index: 1;
  display: flex;
  place-content: center;
}
.section-1 {
  background: #0f2027; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-right: min(20%, 10%);
  padding-left: min(20%, 10%);
  padding-top: min(20%, 10%);
  padding-bottom: min(10%, 5em);
  content-visibility: auto;
}
.section-1::before {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: 0%;
  left: 0;
  width: 1200%;
  height: 250px;
  /* background-size: cover;
  background: url("/assets/mountains.png") no-repeat; */
}

.box1 {
  position: relative;
  padding: 3rem;
  margin-top: 3rem;
  background: rgba(255, 255, 255, 0.056);
  z-index: 1;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  color: white;
  border-radius: 3em;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid 2px white;
  box-shadow: 2rem 2rem 2rem rgba(4, 4, 4, 0.686);
}
.downlaod {
  text-decoration: none;
}
.download-button {
  color: rgb(43, 245, 218);
  background-color: black;
  color: rgb(43, 245, 218);
  border: currentColor 0.125em solid;
  position: relative;
  text-shadow: currentColor;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100%/0.3), 0 0 0.45em currentColor;
  box-shadow: 0 0 0.2em 0 rgb(43, 245, 218), inset 0 0 0.2em 0 rgb(43, 245, 218);
}
.download-button:hover {
  background-color: rgba(43, 245, 218, 0.118);
  box-shadow: 0 0 0.6em 0 rgb(43, 245, 218), inset 0 0 0.6em 0 rgb(43, 245, 218);
}

.about-header,
.about-footer {
  font-family: "Press Start 2P", cursive;
  color: rgba(158, 233, 243, 0.652);
  text-shadow: 1.5px 1.5px 1.5px #ffffff, 1.5px 1.5px 1.5px #202020,
    #ffffff 1.5px 1.5px 1.5px;
}
.about-header {
  top: 0;
}
.about-footer {
  bottom: 0;
  padding-top: 3px;
}
.section-1 p {
  /* font-family: "Overlock", cursive; */
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}
.section-1 ul {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}
.projectsLink {
  color: white;
}
.projectsLink:hover,
projectsLink:focus {
  color: aqua;
}

/*Section 1 ends here*/
