<section class="section-1 sections" id="about">
  <div
    class="box box1"
    data-aos="zoom-in"
    data-aos-easing="linear"
    data-aos-duration="500"
  >
    <h2 class="about-header">&lt;about&gt;</h2>
    <p>
      Hi, my name is <b>Parth Kathuria</b> and I am a FullStack WebDeveloper who
      creates Scalabe and Responsive Websites along with their Servers.
    </p>
    <br />
    <p>
      WebDevelopment is my passion and i am always looking to discover new and
      better technologies to add to my stack to keep myself updated with the
      current standards.
    </p>
    <p>
      For more information regarding this site and source code, visit
      <a routerLink="/project" href="" class="projectsLink">
        Projects <i class="fas fa-external-link-alt"></i>
      </a>
      section and checkout this Portfolio's Card.
    </p>
    <br />
    <a target="_blank" href="assets/cv.pdf" download="cv.pdf" class="download">
      <button class="download-button">
        <i class="fa fa-download" aria-hidden="true"></i>
        <span> Download CV</span>
      </button>
    </a>
    <br />
    <br />
    <h2 class="about-footer">&lt;/about&gt;</h2>
  </div>
</section>
<!-- TechStack -->
<section class="section-3 sections" id="techStack">
  <div class="col-md-12 tech-stack-heading">
    <p class="display-3 tech-heading text-center">&lt;tech stack&gt;</p>

    <div class="container sec3-container">
      <h1 class="text-center heading">Front-End Development</h1>
      <div class="split">
        <div
          class="split tech"
          data-aos="fade-right"
          data-aos-anchor-placement="center-bottom"
          data-aos-duration="600"
          data-aos-easing="ease-out-cubic"
        >
          <div class="stack-text">
            <h3>HTML-5</h3>
            <p>
              Simple, yet hard to master. HTML is the backbone of every website
              and its structure.
              <br /><br />
              It provides the Main content which can be styled or added logic to
              using Angular and CSS
            </p>
            <p><b>Expertise: Advance</b></p>
          </div>
          <div>
            <img src="assets/html.png" alt="HTML-5" />
          </div>
        </div>
        <div
          class="split tech"
          data-aos="fade-right"
          data-aos-delay="300"
          data-aos-duration="600"
          data-aos-easing="ease-out-cubic"
          data-aos-anchor-placement="center-bottom"
        >
          <div class="stack-text">
            <h3>CSS-3</h3>
            <p>
              Well, no CSS? No Party! <br />
              CSS makes or breaks the website and lets just say world would be
              boring without it.
              <br />
              SCSS along with Bootstrap forms the basis of my Tech Stack.
            </p>
            <p><b>Expertise: Advance</b></p>
          </div>
          <div>
            <img src="assets/css.png" alt="CSS-3" />
          </div>
        </div>
        <div
          class="split tech"
          data-aos="fade-right"
          data-aos-delay="600"
          data-aos-duration="600"
          data-aos-easing="ease-out-cubic"
          data-aos-anchor-placement="center-bottom"
        >
          <div class="stack-text">
            <h3>Angular 10.x.x</h3>
            <p>
              The Brains of the site. The Logic and Function that makes the
              website stands out with some extra added features are gift of
              Angular. <br />
              <br />
              With its well Defined structure, its a genuine game changer.
            </p>
            <p><b>Expertise: Intermediate</b></p>
          </div>
          <div>
            <img src="assets/angular.png" alt="angular" />
          </div>
        </div>
      </div>
    </div>
    <div class="container sec3-container">
      <h1 class="text-center heading">Back-End Development</h1>
      <div class="split">
        <div
          class="split tech second"
          data-aos="fade-left"
          data-aos-delay="400"
          data-aos-anchor-placement="center-bottom"
          data-aos-duration="300"
          data-aos-easing="ease-in-out-quart"
        >
          <div class="stack-text">
            <h3>Java</h3>
            <p>
              Developed on the concept <i>Write Once Run Anywhere</i>, it's an
              Object Oriented Programming language which is Secure and Robust.
              <br />
              <br />
              Coupled with Maven, it provides hasslefree support for
              dependencies like Spring Boot, Spring Web etc.
            </p>
            <p><b>Expertise: Intermediate</b></p>
          </div>
          <div>
            <img src="assets/java.png" alt="CSS-3" />
          </div>
        </div>
        <div
          class="split tech second"
          data-aos="fade-left"
          data-aos-anchor-placement="center-bottom"
          data-aos-duration="400"
          data-aos-easing="ease-in-out-quart"
        >
          <div class="stack-text">
            <h3>SpringBoot</h3>
            <p>
              Spring Boot makes it easy to create stand-alone, production-grade
              Spring based Applications that you can "just run".
            </p>
            <p>
              Coupled with powerful libraries like:
              <li>Spring Data</li>
              <li>Spring Web</li>
              <li>Spring Security</li>
              It provides hassele free exprience
            </p>
            <p><b>Expertise: Beginner</b></p>
          </div>
          <div>
            <img src="assets/spring.png" alt="angular" />
          </div>
        </div>
      </div>
    </div>
    <p class="display-3 tech-heading text-center">&lt;/tech stack&gt;</p>
  </div>
</section>
<!-- Experience -->
<section class="sections section-4" id="experience">
  <div class="col-md-10">
    <p class="display-3 tech-heading text-center">&lt;experience&gt;</p>
    <div class="container">
      <h2>Infosys ltd.</h2>
      <h4 class="exp-subheading text-center text-muted">
        Full Stack WebDevelopment
      </h4>
      <h3 class="text-right text-muted">04/21 to 12/21</h3>
      <div class="split">
        <img class="infosys" src="assets/infosys.png" alt="" />
        <div class="stack-text infosys__text">
          <p>
            Developed Cortex AI platform, a Full Stack web application to create
            Chatbots and its analytics panels.
          </p>
          <p>
            Technologies used:
            <br />
            <li>HTML, SCSS, Angular 10</li>
            <li>Java-SpringBoot, Spring Data, RESTful, JPA</li>
            <li>PostgreSQL, Elastic Search</li>
            <li>Git,Figma</li>
          </p>
          <p><b>Placed In HPF with 90% Agg</b></p>
          <p>
            Recognised as <b>Maven of FP</b> by being in top 50 employees in Q2
            of 2021
          </p>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container">
      <h2>Shell</h2>
      <h4 class="exp-subheading text-center text-muted">
        Process Data Engineer
      </h4>
      <h3 class="text-right text-muted">12/21 to Present</h3>
      <div class="split">
        <div class="shell__container">
          <img
            class="shell"
            src="assets/shell.svg"
            alt="Royal Dutch Shell Logo"
          />
        </div>
        <div class="stack-text shell__text">
          <p class="text-center">
            <br />
            Part of Technical Assets Operations <br />
            Managing Shell Assets and Analysing Data to provide business
            solutions to Stakeholders.
          </p>
          <br /><br />
          <p>
            Technologies used:
            <br />

            <li>Power Bi, Excel</li>
            <li>Python: Pandas, MatPlotLib, NumPy</li>
          </p>
        </div>
      </div>
    </div>
    <p class="display-3 tech-heading bottom text-center">&lt;/experience&gt;</p>
  </div>
</section>
<section class="contact__divider"></section>
<!-- Contact me Form -->
<section class="contact-me">
  <div class="grid__item col-md-8">
    <div class="grid__item__shape">
      <h1 class="text-center display-1 heading"><u>Contact Me</u></h1>
      <div class="split">
        <div class="display form__side1">
          <div class="image">
            <img class="parth__img" src="assets/email.png" alt="email icon" />
          </div>
        </div>
        <div class="form__side">
          <div class="glass">
            <form [formGroup]="emailForm" class="form" (ngSubmit)="onSubmit()">
              <mat-form-field class="mb-3" data-aos="fade-in">
                <mat-label for="name" class="form-label" data-aos="fade-in"
                  >Name :
                </mat-label>
                <input
                  appearance="fill"
                  matInput
                  data-aos="fade-in"
                  data-aos-duration="600"
                  data-aos-easing="ease-in-out-quart"
                  type="text"
                  id="name"
                  placeholder="Full Name"
                  formControlName="name"
                />
                <mat-error
                  *ngIf="
                    name.hasError('required') && (name.dirty || name.touched)
                  "
                >
                  Name is <b>Required</b>
                </mat-error>
                <mat-error
                  *ngIf="
                    name.hasError('minLength') && (name.dirty || name.touched)
                  "
                >
                  Name must be greater than 3 Characters
                </mat-error>
              </mat-form-field>
              <mat-form-field data-aos="fade-in" class="mb-3">
                <mat-label for="email" class="form-label" data-aos="fade-in"
                  >Email Address :</mat-label
                >
                <input
                  matInput
                  type="email"
                  data-aos-duration="600"
                  data-aos-easing="ease-in-out-quart"
                  id="email"
                  placeholder="name@example.com"
                  formControlName="email"
                  data-aos="fade-in"
                />
                <mat-error
                  *ngIf="
                    email.hasError('required') && (email.dirty || email.touched)
                  "
                >
                  Email is <b>Required</b>
                </mat-error>
                <mat-error
                  *ngIf="
                    email.hasError('email') && (email.dirty || email.touched)
                  "
                >
                  Email must be <b>Valid</b>
                </mat-error>
              </mat-form-field>
              <mat-form-field
                data-aos-anchor="#email"
                data-aos="fade-in"
                data-aos-delay="200"
                class="mb-3"
              >
                <mat-label for="subject" class="form-label" data-aos="fade-in"
                  >Subject :
                </mat-label>
                <input
                  matInput
                  type="text"
                  data-aos-duration="600"
                  data-aos-easing="ease-in-out-quart"
                  id="subject"
                  formControlName="subject"
                  data-aos="fade-in"
                  data-aos-anchor="#email"
                />
              </mat-form-field>
              <mat-form-field
                data-aos-anchor="#email"
                data-aos="fade-in"
                data-aos-delay="350"
                class="mb-3"
              >
                <mat-label
                  for="message"
                  class="form-label"
                  data-aos="fade-in"
                  data-aos-anchor="#email"
                >
                  Message :
                </mat-label>

                <textarea
                  matInput
                  data-aos-duration="600"
                  data-aos-easing="ease-in-out-quart"
                  formControlName="message"
                  id="message"
                  rows="3"
                  data-aos="fade-in"
                  data-aos-anchor="#email"
                  placeholder="Write a Text Message"
                >
                </textarea>
                <mat-error
                  *ngIf="
                    message.hasError('required') &&
                    (message.dirty || message.touched)
                  "
                >
                  Text Message is <b>Required</b> <br />
                  Text Message should be <b>Atleast 3 characters</b>
                </mat-error>
                <mat-error
                  *ngIf="
                    message.hasError('minLength') &&
                    (message.dirty || message.touched)
                  "
                >
                  Text Message should be <b>Atleast 3 characters</b>
                </mat-error>
              </mat-form-field>
              <div>
                <button
                  class="block"
                  mat-raised-button
                  type="submit"
                  [disabled]="emailForm.invalid || !showSend"
                  data-aos="fade-in"
                  data-aos-anchor="#email"
                >
                  Send Email
                </button>
                <button
                  class="reset__button block"
                  color="primary"
                  mat-raised-button
                  type="reset"
                  data-aos="fade-in"
                  data-aos-anchor="#email"
                >
                  Reset
                </button>
              </div>
            </form>
            <div class="disclaimer__box">
              <a class="disclaimer text-center">
                <small>* all fields are mandatory * </small>
              </a>
            </div>
          </div>
          <div class="sk-cube-grid" *ngIf="isloading">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</section>
<section class="stats_section">
  <h1 class="text-center display-1 heading">Stats For Nerds</h1>
  <div class="split">
    <div class="col-md-4 stats">
      <mat-progress-spinner
        class="stat__spinner"
        color="accent"
        mode="determinate"
        [value]="totalEmailsSent"
      >
      </mat-progress-spinner>
      <p class="text-center stat__numbers">{{ hits }}</p>
      <p class="text-center stat__text">Total Emails Sent</p>
    </div>
    <div class="col-md-4 stats">
      <mat-progress-spinner
        class="stat__spinner"
        color="accent"
        mode="determinate"
        [value]="totalEmailvalue"
      >
      </mat-progress-spinner>
      <p class="text-center stat__numbers">{{ totalEmails }}</p>
      <p class="text-center stat__text">Unqiue Users</p>
    </div>
  </div>
</section>
