@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Press+Start+2P&display=swap");
/* .canvas {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  mix-blend-mode: exclusion;
} */

.containers {
  height: 100vh;
  display: flex;
  /* place-items: center; */
  align-items: center;
  justify-content: center;
  position: relative;

  overflow-y: hidden;
  /* background-image: linear-gradient(to right, #414345, #232526);
  background-image: -webkit-linear-gradient(to right, #414345, #232526); */
}

section {
  height: 100vh;
}
p {
  z-index: 2;
  display: inline-block;
  text-decoration: none;
  padding: 0.25em 1em;
  text-transform: uppercase;
  color: rgb(43, 245, 218);
  border: currentColor 0.125em solid;
  position: relative;
  text-shadow: currentColor;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0%  100%/0.3), 0 0 0.45em currentColor;
  box-shadow: 0 0 0.5em 0 rgb(43, 245, 218), inset 0 0 0.5em 0 rgb(43, 245, 218);
  transition: all 500ms ease-in-out;
}
p:hover{
  background-color: rgba(43, 245, 218, 0.118) ;
}
p::before{
  content: '';
  background-color: rgb(43, 245, 218) ;
  position: absolute;
  left: 0%;
  top: 120%;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1,0.35);
  filter: blur(1.6em);
  pointer-events: none;
  opacity: 0.6;
  transition: all 500ms ease-in-out;
}
p:hover::before{
  opacity: 1;
}
p::after{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 0 1.5em 0.5em rgb(43, 245, 218) ;
  opacity: 0;
  transition: 500ms ease-in-out all;
}
p:hover::after{
  opacity: 1;
}
.ml15 {
  font-weight: 200;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}
.word {
  padding: 4px;
}
.scrollDown {
  position: absolute;
  top: 80%;
  color: white;
  font-weight: 200;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.scroll-down {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Press Start 2P", cursive;
  transition: all 200ms cubic-bezier();
  user-select: none;
  font-size: 1.2em;
  z-index: 0;
  cursor: pointer;
}
.scroll-down:hover {
  text-shadow: 2px 2px 1px red, 3px 3px 5px rgb(96, 96, 255);
  font-size: 1.3em;
}

