<div id="top">
  <app-top-nav></app-top-nav>
  <div [@routeAnimations]="prepareRoute(outlet)" id="display" class="display">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
<button
  [ngClass]="topIcon ? 'visible' : 'notVisible'"
  id="top"
  class="top"
  mat-icon-button
  (click)="goToTop()"
  matTooltip="Go To Top"
  aria-label="Button that scrolls to top"
>
  <mat-icon
    ><span class="material-icons-two-tone"> arrow_upward </span></mat-icon
  >
</button>
<button
  [ngClass]="goBackIcon && backIcon ? 'visible' : 'notVisible'"
  id="back"
  class="back"
  mat-icon-button
  (click)="goBack()"
  matTooltip="Go Back"
  aria-label="Button that scrolls back"
>
  <mat-icon><span class="material-icons-two-tone">west </span></mat-icon>
</button>
<app-loader *ngIf="loader.isLoading | async"></app-loader>
