@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

mat-toolbar {
  box-shadow: rgba(0, 0, 0, 0.268) 0px 0px 10px 0px;
  width: 100%;
  z-index: 100;
  color:black !important;
}
.example-spacer {
  flex: 1 1 auto;
}
ul li {
  list-style: none;
}
ul li button {
  font-family: "Rubik Mono One", sans-serif;
}
.navlink {
  font-size: 12px;
  transition: all;
  color: rgb(255, 255, 255);
}
.navlink:hover,
.navlink:focus {
  text-shadow: 1px 1px 1px red, 3px 3px 5px blue;
  transform: scale(1.2);
}
ul {
  padding-top: 5px;
  font-size: 1.5rem;
  position: relative;
}
span {
  font-family: "Rubik Mono One", sans-serif;
  margin: 5px;
}
a {
  font-family: "Rubik Mono One", sans-serif;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgb(202, 202, 202);
}
.naving {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 10;
  transition: 0.2s ease-in-out;
  opacity: 1;

  background: rgba(9, 9, 9, 0.467);
  z-index: 10;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 1rem 1rem 1.2rem rgba(21, 20, 20, 0.241);
}
.notNaving {
  position: static;
  width: 100%;
  top: -50px;
  transition: 0.2s ease-in-out;
  opacity: 1;
  z-index: 10;
}
.parth {
  font-size: 20px;
}
.active {
  text-shadow: 2px 2px 2px rgb(24, 22, 22), 2px 2px 2px rgb(255, 255, 255);
  transform: scale(1.2);
  color: rgb(83, 247, 211);
  transition: all ease-in-out 200ms;
}
.row-2 {
  height: 1em;
}
@media only screen and (max-width: 800px) and (min-width: 0px) {
  .parth {
    font-size: 15px;
  }
  .row-1 {
    height: 2em;
  }
}

.moon {
  color: rgb(66, 250, 247);
  background-color: transparent;
  transition: all ease-in 200ms;
}
.sun {
  color: rgb(238, 210, 0);
  transition: all ease-in 200ms;
  background-color: transparent;
}