<mat-toolbar
  (scroll)="onScroll()"
  [ngClass]="navbarFixed ? 'naving' : 'notNaving'"
  color="primary"
>
  <mat-toolbar-row class="row-1">
    <span class="parth"></span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="10px">
        <li *ngIf="showDarkMode">
          <button
            class="darkMode"
            [ngClass]="isDarkMode ? 'moon' : 'sun'"
            mat-icon-button
            (click)="toggleMode()"
          >
            <mat-icon
              *ngIf="!isDarkMode"
              class="material-icons-two-tone"
              matTooltip="Turn On Dark Mode"
            >
              flashlight_on
            </mat-icon>
            <mat-icon
              *ngIf="isDarkMode"
              class="material-icons-outlined"
              matTooltip="Turn on Light Mode"
            >
              flashlight_off
            </mat-icon>
          </button>
        </li>
        <li fxHide.lt-md>
          <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li fxHide.lt-md>
          <a [routerLink]="['/blog']" routerLinkActive="active">Blogs</a>
        </li>
        <li fxHide.lt-md>
          <a [routerLink]="['/project']" routerLinkActive="active">Projects</a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="row-2" fxHide fxHide.lt-md="false">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-around center">
      <ul fxLayout="row" fxLayoutGap="2px">
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a [routerLink]="['/blog']" routerLinkActive="active">Blogs</a>
        </li>
        <li>
          <a [routerLink]="['/project']" routerLinkActive="active">Projects</a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
  <!-- <div *ngIf="loader.isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> -->
</mat-toolbar>
