<mat-toolbar
  (scroll)="onScroll()"
  [ngClass]="navbarFixed ? 'naving' : 'notNaving'"
  color="primary"
>
  <mat-toolbar-row class="row-1">
    <span class="parth"></span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="10px">
        <li fxHide.lt-md>
          <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li fxHide.lt-md>
          <a [routerLink]="['/blog']" routerLinkActive="active">Blogs</a>
        </li>
        <li fxHide.lt-md>
          <a [routerLink]="['/project']" routerLinkActive="active">Projects</a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="row-2" fxHide fxHide.lt-md="false">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-around center">
      <ul fxLayout="row" fxLayoutGap="2px">
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a [routerLink]="['/blog']" routerLinkActive="active">Blogs</a>
        </li>
        <li>
          <a [routerLink]="['/project']" routerLinkActive="active">Projects</a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
  <div *ngIf="loader.isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</mat-toolbar>
