/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-image: #232526;
  background-image: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ) !important;
  background-image: linear-gradient(to right, #414345, #232526) !important;
  overflow-x: hidden;
}
