@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-coy";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@1,200&display=swap");
$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
.breadcrumb-item {
  a {
    text-decoration: none !important;
    color: black;
    transition: all 400 ease-in-out;
    font-family: "Mulish", sans-serif;

    &:hover {
      color: cyan;
    }
  }
}

section {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  flex-wrap: wrap;
  -webkit-padding-before: 3rem;
  padding-block-start: 3rem;
  -webkit-padding-after: 3rem;
  padding-block-end: 3rem;
  padding-left: min(5em, 1em);
  padding-right: min(5em, 1em);
  transition: all 200ms ease-in-out;

  .container-fluid {
    background-color: rgb(223, 223, 223);
  }
  padding-top: 5vh;

  .card,
  mat-card {
    margin: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.172) 10px 10px 10px 10px;
    transition: all ease-in-out 150ms;

    p {
      font-family: "Kodchasan", sans-serif;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
  .example-card {
    max-width: 350px;
  }

  .example-header-image {
    background-image: url("https://media-exp1.licdn.com/dms/image/C5603AQF0V_iYebZiEQ/profile-displayphoto-shrink_800_800/0/1637266778541?e=1642636800&v=beta&t=Cp4TSPDKwI7_u0m0bNF-fZFoVYtJkhFpjZUkj67joXw");
    background-size: cover;
  }
}
@media only screen and (min-width: 80em) {
  section {
    & > * + * {
      margin-left: 2em;
    }
  }
}
.hero {
  background: #aa4b6b; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 30vh;
  @supports (background-attachment: fixed) {
    background: rgb(95, 95, 95);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-image: url("/assets/parallax.jpg");
    background-size: cover;
    background-position: center bottom;
  }

  .display-1 {
    color: white;
    font-family: "Dancing Script", cursive;
  }
}
nav {
  margin-top: 7vh;
}
.cardSectionDark {
  background-color: rgb(24, 23, 23);
  color: white;
  transition: all 200ms ease-in-out;
}
.cardSectionLight {
  background-color: white;
}
.darkmodeSection {
  margin: 0;
  padding: 0;
  position: relative;
  .darkMode {
    position: absolute;
    right: 2em;
  }
}

.breadcrumb-item {
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 4px;
}
.breadcrumb-item:first-child {
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.breadcrumb-item:last-child {
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.smooth__scrollling{
  position: relative;
  border-radius: 1em;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 1em;
    transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0.5rem 0.5rem 4rem blue;
  }
}
.parallax__effect{
  position: relative;
  border-radius: 1em;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 1em;
    transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0.5rem 0.5rem 4rem beige;
  }
}
.positioning__card{
  position: relative;
  border-radius: 1em;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 1em;
    transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0.5rem 0.5rem 4rem red;
  }
}
