<section>
  <div class="card col-md-6">
    <div class="card-header">First Blog</div>
    <div class="card-body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
      aspernatur cupiditate, alias magni mollitia vero! Commodi nisi debitis
      fuga quae odit natus, perferendis ipsum tempora tempore, hic iure
      accusantium nostrum.
    </div>
    <div class="card-footer">
      <a routerLink="/blog/abc"
        ><button type="button" class="btn btn-success">First Blog</button></a
      >
    </div>
  </div>
</section>

<section>
  <div class="card col-md-6">
    <div class="card-header">First Blog</div>
    <div class="card-body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
      aspernatur cupiditate, alias magni mollitia vero! Commodi nisi debitis
      fuga quae odit natus, perferendis ipsum tempora tempore, hic iure
      accusantium nostrum.
    </div>
    <div class="card-footer">
      <a routerLink="/blog/abc"
        ><button type="button" class="btn btn-success">First Blog</button></a
      >
    </div>
  </div>
</section>

<section>
  <div class="card col-md-6">
    <div class="card-header">First Blog</div>
    <div class="card-body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
      aspernatur cupiditate, alias magni mollitia vero! Commodi nisi debitis
      fuga quae odit natus, perferendis ipsum tempora tempore, hic iure
      accusantium nostrum.
    </div>
    <div class="card-footer">
      <a routerLink="/blog/abc"
        ><button type="button" class="btn btn-success">First Blog</button></a
      >
    </div>
  </div>
</section>
