<section>
  <p class="display-1 text-center">First BLOG!</p>

  <div class="container main col-md-8">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit accusamus
      non ipsa natus, rerum vitae aperiam maxime laboriosam sequi sint illum cum
      perferendis? Ducimus, amet consequatur praesentium consequuntur atque
      quisquam.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit accusamus
      non ipsa natus, rerum vitae aperiam maxime laboriosam sequi sint illum cum
      perferendis? Ducimus, amet consequatur praesentium consequuntur atque
      quisquam.
    </p>
  </div>
  <div class="container col-md-6">
    <pre><code class="language-typescript">
        let a:number;
        for(let d=0; d<5; d++)&#123;
          a=d*d;
        &#125;
      </code></pre>
  </div>
  <div class="container col-md-6">
    <pre><code class="language-typescript">
      let a:number;
      for(let d=0; d<5; d++)&#123;
        a=d*d;
      &#125;
      </code></pre>
  </div>
  <div class="container col-md-6">
    <pre><code class="language-typescript">
        let a:number;
        for(let d=0; d<5; d++)&#123;
          a=d*d;
        &#125;
      </code></pre>
  </div>
</section>
