@import "~highlight.js/styles/github.css";

section {
  padding:5rem;
  width: 100%vw;
  background-color: rgb(226, 225, 225);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
}
a{
  text-decoration: none;
}
