@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@1,200&display=swap");
$content__paragraph: "PT Sans Caption", sans-serif;
* {
  transition: all ease-in-out 200ms;
}
.projects {
  width: 100%;
  background: #141e30; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .project__cards {
    margin: 5rem;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
    gap: 8rem;
  }
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  a {
    text-decoration: none;
    color: black;
    font-family: $content__paragraph;
    font-weight: 600;
    &:hover,
    &:focus {
      color: rgb(0, 195, 255);
    }
  }
}

.spacing_section {
  height: 10rem;
  width: 100%;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
  margin: 4rem;

  nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
      text-decoration: none;
      color: black;
      font-family: $content__paragraph;
      font-weight: 600;
      padding: 0.3rem;
      &:hover,
      &:focus {
        color: rgb(0, 195, 255);
      }
    }
  }
}

.banner {
  box-sizing: border-box;
  padding: 5rem;
  height: 30rem;
  width: 100%;
  background-color: black;

  box-shadow: 0.2rem 0.2rem 4rem rgb(24, 240, 255);
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: rgb(24, 240, 255);
    font-family: "Press Start 2P", cursive;
    font-size: 4rem;
    text-shadow: 0.4rem 0.4rem 5rem rgb(2, 238, 255);
  }
}

a {
  text-decoration: none;
  color: black;
}

.dark-mode-link {
  color: rgb(62, 236, 248);
}

.card__content {
  font-family: "Kodchasan", sans-serif;
}
.dark-mode {
  transition: all 0.5s ease-in-out;
}
mat-card {
  padding: 3rem;
  transition: all 0.5s ease-in-out;
}
.node__card {
  position: relative;
  border-radius: 1em;
  mat-card-title {
    color: rgb(106, 196, 106);
    font-weight: 600;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0.4rem 0.4rem 4rem rgba(4, 197, 20, 0.802),
      0.6rem 0.6rem 6rem white;
    border-radius: 1em;
    z-index: -1;
  }
}
.portfolio__card {
  position: relative;
  border-radius: 1em;
  mat-card-title {
    color: rgb(255, 115, 115);
    font-weight: 600;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0.4rem 0.4rem 4rem red, 0.8rem 0.8rem 6rem white;
    border-radius: 1em;
    z-index: -1;
  }
}
section {
  transition: all 0.5s ease-in-out;
}
.example-card {
  img {
    height: 15rem;
  }
}
@media only screen and (min-width: 40em) {
  .projects {
    .project__cards {
      flex-direction: row;
    }
  }
  .example-card {
    img {
      height: 30rem;
    }
  }
}
