@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pushster&display=swap');

$bungee: "Bungee", cursive;

$pushter: "Pushster", cursive;
$kanit: "Kanit", sans-serif;

* {
  margin: 0;
  padding: 0;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 220ms;

  h2 {
    font-family: $bungee;
  }
}

.all__section {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.header {
  background: #fcedebb2;
  color: #03045e;
  font-weight: 800;
  padding: 1rem;

  padding: 1rem 3rem 0 3rem;
  position: relative;
  .split {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 1rem 2rem 1rem;
    transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);

    .main__heading {
      display: grid;
      place-content: center;

      font-size: 5rem;
      min-height: 15rem;
      width: 100%;
      color: #03045e;

      text-shadow: currentColor 0.4rem 0.4rem 4rem;
      font-family: "Kanit", sans-serif;
      background-blend-mode: color-dodge;
      transition: all 180ms cubic-bezier(0.075, 0.82, 0.165, 1);
      position: relative;
      transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);

      .small__heading {
        font-size: 1.5rem;
        position: relative;
        margin-top: 1.5rem;
        font-weight: 300;
        transition: all 500ms ease-in-out;
        box-sizing: content-box;
        background-clip: border-box;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        .name {
          color: aqua;
          font-weight: 400;
          text-shadow: currentColor 0.2rem 0.2rem 0.9rem;
          transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .heart {
          color: red;
          font-size: 1.8rem;
          font-weight: 400;
          text-shadow: rgb(245, 184, 194) 0.2rem 0.2rem 1.2rem;
          transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
      .dark_small_heading {
        background-color: rgb(3, 26, 48);
        padding: 0 0.7rem 0 0.7rem;
        box-sizing: content-box;
        background-clip: border-box;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        transition: all 500ms ease-in-out;
      }
    }
    .dark_main_heading {
      color: #b5f4f7;
      // text-shadow: currentColor 0.4rem 0.4rem 4rem;
      transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .img__section {
      display: grid;
      place-content: center;
      background: no-repeat url("/assets/angular.svg");
      background-position: center;
      height: 60rem;
      width: 20rem;
      width: 100%;
      max-height: 50vh;
      position: relative;
      z-index: 1;
      background-color: rgba(245, 111, 111, 0.671);
      border-radius: 1em;
      margin-bottom: 2rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        border-radius: 1em;
        background-color: transparent;
        background-clip: border-box;
        box-shadow: inset 0.4rem 0.4rem 4rem pink, inset 0.6rem 0.6rem 6rem red;
        transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        border-radius: 1em;
        transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
        box-shadow: 0.5rem 0.5rem 8rem rgba(64, 211, 248, 0.616);
      }
    }
  }
  transition: all 180ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background: url("/assets/art.png");
    background-size: cover;
  }
}

.dark_header {
  // background-color: rgba(3, 26, 48, 0.795);
  background: #892b638f;
  color: #ade8f4;
  transition: all 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (min-width: 844px) {
  .header {
    .split {
      flex-direction: row;
      gap: 3rem;

      .main__heading {
        font-size: 10rem;
        flex-grow: 1.2;
        flex-shrink: 0.9;

        .small__heading {
          margin-top: 4rem;
        }
      }

      .img__section {
        max-height: 80vh;
      }
    }
  }
}

.main_content {
  display: grid;
  place-content: center;
  place-items: center;
  background: transparent;
  color: black;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
}
article > * {
  margin: 3rem;
}

.introduction {
  background-color: #fec5bb;
  padding: 5rem;
  color: hsl(224, 100%, 69%);
}
.dark__introduction {
  background-color: #b7094ca1;
  color: #caf0f8;
}

.features {
  width: 100%;
  background-color: #ffd7ba;
  color: #023e8a;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 220ms;
  .feature__heading {
    font-family: $bungee;
  }
  .feature__intro {
    font-size: 1.6rem;
  }

  .feature__main {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    flex-basis: 1;

    .cosmetic__features {
      min-height: 20rem;
      position: relative;
      line-height: 2.1rem;
      .features__subheading {
        top: 5%;
        font-family: $bungee;
        font-weight: 500;
        font-size: 1.6rem;
      }
    }
    .functional__features {
      min-height: 20rem;
      position: relative;
      line-height: 2.1rem;
      .features__subheading {
        top: 5%;
        font-family: $bungee;
        font-weight: 500;
        font-size: 1.6rem;
      }
    }
  }
}

.dark_features {
  background-color: #a01a589a;
  color: #caf0f8;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 320ms;
}
.technologies__used,
.content {
  h2,
  h3 {
    font-weight: 600;
  }
  p {
    font-weight: 400;
    font-size: 1.5rem;
  }
  background: #ffe5d9;
  color: #03045e;
  padding: 3rem;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}
.content {
  width: 100%;
  .content__heading {
    font-family: $bungee;
  }
  .content__pages {
    padding: 1rem 3rem 1rem 3rem;
    .content__sub__heading {
      font-family: $kanit;
    }
    p {
      font-family: $kanit;
    }
  }
}

.technologies__used {
  .tech__list {
    padding: 1rem;

    ul {
      list-style: none;
    }
    li {
      margin: 2rem 0 3rem 0;
    }
    .tech__ul {
      .tech__angular {
        box-sizing: border-box;
        padding: 1.2rem 1.2rem 1.2rem 1.2rem;
        z-index: 1;
        position: relative;

        border-radius: 2em 2em 2em 2em;
        min-height: 20rem;

        .tech__angular__heading {
          font-size: 2rem;

          font-family: 500;
          font-family: $bungee;
          letter-spacing: 0.3rem;
          text-shadow: 0.2rem 0.2rem 2rem currentColor;
        }
        .tech__angular__description {
          font-size: 1.5rem;
          font-weight: 500;
        }

        &::after {
          content: "";
          position: absolute;
          display: grid;
          place-content: center;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;

          background: transparent no-repeat url("/assets/angular.png");
          background-attachment: local;
          background-position: center;
          -webkit-filter: blur(0.5rem);
          filter: blur(1rem);
          border-radius: 2em 2em 2em 2em;
          background-blend-mode: darken;
          // content-visibility: auto;
        }
        &::before {
          content: "";
          border-radius: 2em 2em 2em 2em;

          position: absolute;
          display: grid;
          place-content: center;
          background-color: rgba(253, 174, 247, 0.096);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -2;
          box-shadow: red 0.4rem 0.4rem 3rem, pink 0.4rem 0.4rem 5rem,
            inset 0.4rem 0.4rem 3rem rgba(255, 192, 203, 0.507),
            inset 0.4rem 0.4rem 5rem rgba(255, 0, 212, 0.301);
        }
      }
      .tech__node {
        box-sizing: border-box;
        padding: 1.2rem 1.2rem 1.2rem 1.2rem;
        z-index: 1;
        position: relative;
        border-radius: 2em 2em 2em 2em;
        margin: 5rem 0 5rem 0;
        min-height: 20rem;

        .tech__node__heading {
          font-size: 2rem;
          text-shadow: 0.2rem 0.2rem 2rem currentColor;
          font-family: 500;
          font-family: $bungee;
          letter-spacing: 0.3rem;
        }
        .tech__node__description {
          font-size: 1.5rem;
          font-weight: 500;
        }

        &::after {
          content: "";
          position: absolute;
          display: grid;
          place-content: center;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;

          background: transparent no-repeat url("/assets/nodejs.png");
          background-attachment: local;
          background-position: center;
          -webkit-filter: blur(0.5rem);
          filter: blur(1rem);
          border-radius: 2em 2em 2em 2em;
          background-blend-mode: darken;
          // content-visibility: auto;
        }
        &::before {
          content: "";
          border-radius: 2em 2em 2em 2em;

          position: absolute;
          display: grid;
          place-content: center;
          background-color: rgba(0, 255, 157, 0.137);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -2;
          box-shadow: rgba(5, 224, 5, 0.815) 0.4rem 0.4rem 3rem,
            rgba(3, 63, 3, 0.541) 0.4rem 0.4rem 5rem,
            inset 0.4rem 0.4rem 3rem rgba(255, 192, 203, 0.507),
            inset 0.4rem 0.4rem 5rem rgba(0, 255, 255, 0.555);
        }
      }
      .tech__mongo {
        box-sizing: border-box;
        padding: 1.2rem 1.2rem 1.2rem 1.2rem;
        z-index: 1;
        position: relative;
        border-radius: 2em 2em 2em 2em;
        margin: 5rem 0 5rem 0;
        min-height: 20rem;

        .tech__mongo__heading {
          font-size: 2rem;
          text-shadow: 0.2rem 0.2rem 2rem currentColor;
          font-family: 500;
          font-family: $bungee;
          letter-spacing: 0.3rem;
        }
        .tech__mongo__description {
          font-size: 1.5rem;
          font-weight: 500;
        }

        &::after {
          content: "";
          position: absolute;
          display: grid;
          place-content: center;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;

          background: transparent no-repeat url("/assets/mongo.png");
          background-attachment: local;
          background-position: center;
          -webkit-filter: blur(0.5rem);
          filter: blur(1rem);
          border-radius: 2em 2em 2em 2em;
          background-blend-mode: darken;
          // content-visibility: auto;
        }
        &::before {
          content: "";
          border-radius: 2em 2em 2em 2em;

          position: absolute;
          display: grid;
          place-content: center;
          background-color: rgba(225, 245, 244, 0.137);
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -2;
          box-shadow: rgba(255, 255, 255, 0.911) 0.4rem 0.4rem 3rem,
            rgba(143, 143, 143, 0.671) 0.4rem 0.4rem 5rem,
            inset 0.4rem 0.4rem 3rem rgba(255, 192, 203, 0.507),
            inset 0.4rem 0.4rem 5rem rgba(178, 241, 241, 0.555);
        }
      }
    }
  }
}

@media only screen and (min-width: 844px) {
  .technologies__used {
    .tech__used__heading {
      padding: 1rem 10rem 1rem 10rem;
      font-family: $bungee;
      text-align: center;
    }
    .tech__used__end {
      padding: 1rem 10rem 1rem 10rem;
    }
    .tech__used {
      padding: 1rem 10rem 1rem 10rem;
    }
    .tech__list {
      padding: 0.5rem;
      margin: 1rem;
      .tech__ul {
        display: grid;
        place-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4rem;
        .tech__angular {
          padding: 2rem;
        }
        .tech__node {
          padding: 2rem;
        }
        .tech__mongo {
          padding: 2rem;
        }
      }
    }
  }
}

.dark {
  background-color: #892b63b7;
  color: #b5f4f7;
  padding: 3rem;
  transition: all 300ms ease-in-out;
}
.last__notes {
  background-color: #fec5bb;
  color: #03045e;
  padding: 5rem;
  width: 100%;
  font-family: $pushter;
}
.dark__last__notes {
  background-color: #a01a589a;
  h2 {
    color: #caf0f8;
    font-weight: 600;
  }
  color: #ade8f4;
}

.spacing__section {
  height: 20vh;
}
.express__highlights {
  color: rgb(72, 253, 0);
  padding: 0.2rem;
  background-color: rgba(1, 53, 1, 0.514);
  text-shadow: white 0.1rem 0.1rem 0.1rem;
}
.angular__highlights {
  color: rgb(248, 118, 146);
  text-shadow: white 0.1rem 0.1rem 0.1rem;
  padding: 0.2rem;
  background-color: rgba(75, 1, 47, 0.336);
}
.mongo__highlights {
  color: rgb(255, 253, 253);
  text-shadow: rgb(240, 72, 72) 0.1rem 0.1rem 0.1rem;
  padding: 0.2rem;
  background-color: rgba(22, 22, 22, 0.336);
}
.feature__highlights {
  color: rgb(2, 180, 180);
  text-shadow: white 0.1rem 0.1rem 0.1rem;
  background-color: #023d8a38;
  padding: 0.3rem;
}
.page__rarchy {
  padding: 5rem 2rem 5rem 2rem;
  background-color: #4b0520;
  border-radius: 1em;
  font-family: $bungee;
  color: #b5f4f7;
  position: relative;
  margin: 3rem 0 3rem 0;
  z-index: 1;
  &::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1em;
    position: absolute;
    box-shadow: inset 0.3rem 0.3rem 4rem rgba(255, 0, 0, 0.767);
    z-index: -1;
  }
  &::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1em;
    position: absolute;
    box-shadow: 0.3rem 0.3rem 4rem rgba(255, 0, 0, 0.767);
    z-index: -1;
  }
}
@media only screen and (min-width: 844px) {
  .page__rarchy {
    padding: 5rem;
  }
}
.sub__page {
  margin-left: 2.4rem;
  color: rgb(172, 208, 255);
  font-family: $kanit;
  font-size: 1.2rem;
}
.home__link {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  padding: 0.3rem;

  &:hover {
    color: #ade8f4;
  }
}
