<section class="section-1"></section>
<section>
  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3>Quick Links</h3>
            <ul>
              <li>
                <a [routerLink]="['/home']" routerLinkActive="active" href=""
                  >Home</a
                >
              </li>
              <li>
                <a [routerLink]="['/blog']" routerLinkActive="active" href=""
                  >Blog</a
                >
              </li>
              <li>
                <a [routerLink]="['/project']" routerLinkActive="active"
                  >Projects</a
                >
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>Services</h3>
            <ul class="services">
              <li><a>UI Development</a></li>
              <li><a>UX Development</a></li>
              <li><a>Backend Development</a></li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <h3>Parth Kathuria</h3>
            <p>
              Hi, I am a Fullstack Web Developer who works on Angular and Java
              Spring Boot.
              <br />
              Check out my blog or follow me on one of these social media links.
              <br />
              Have a great day and Thanks for visiting. ^.^
            </p>
          </div>
          <div class="col item social">
            <a target="_blank" href="mailto:parth.kathuria99@gmail.com">
              <i class="fas fa-envelope"></i>
            </a>
            <a target="_blank" href="https://github.com/ParthDevTs"
              ><i class="fab fa-github"></i></a
            ><a target="_blank" href="https://www.instagram.com/_parth.py/"
              ><i class="fab fa-instagram"></i></a
            ><a
              target="_blank"
              href="https://www.linkedin.com/in/parth-kathuria-4b0856177/"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <p class="copyright">Parth Kathuria © 2021</p>
      </div>
    </footer>
  </div>
</section>
